@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Source+Code+Pro:wght@400;500&display=swap');

* {
	font-family: 'Roboto Mono', monospace;

	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
body {
	background-color: rgb(26, 26, 26);
}
input, select {
	display: block;
}

.calc {
	width: fit-content;

	margin: 40px auto;
	padding: 4px;

	background-image: url(bg.png);

	border: 1px solid rgba(255, 255, 255, 0.08);
	box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.4);
}

/* Input section */
.input-section {
	display: flex;
	flex-direction: column;
}
.input-section .button-row {
	display: flex;
}

/* Type section */
.base-section {
	display: flex;
	flex-direction: column;

	padding: 10px 0;
}

/* Options section */
.options-section {
	display: flex;
}

/* Button component */
.calc-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
	font-size: 28px;

	width: 96px;
	height: 56px;
	line-height: 56px;
	text-align: center;

	margin: 2px;

	border-color: rgba(255, 255, 255, 0.0);

	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

	color: white;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	transition: background 0.1s;
}
.calc-button.double {
	width: 196px;
}
.calc-button.disabled {
	color: rgba(255, 255, 255, 0.2);
}
.calc-button:not(.disabled):hover {
	border: 1px solid rgba(255, 255, 255, 0.15);
}
.calc-button .addition {
	position: absolute;
	left: 62px;
	top: 10px;

	font-weight: 400;
	font-size: 18px;

	color: rgba(255, 255, 255, 0.6);
}


/* Display component */
.display {
	display: flex;
	flex-direction: column;

	font-family: 'Roboto Mono', monospace;

	text-align: right;

	color: white;
}
/* Expression display */
.display .expression {
	position: relative;

	font-size: 20px;

	width: 600px;
	height: 50px;
	line-height: 40px;

	padding: 0 20px;

	color: rgba(255, 255, 255, 0.7);

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	-webkit-overflow-scrolling: touch;
}
.display .expression .inner {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.display .expression .inner.scrollable {
	padding: 0 40px;
}
.display .expression .inner::-webkit-scrollbar {
	height: 6px;
}
.display .expression .inner:hover::-webkit-scrollbar-thumb {
	background-color: rgba(148, 148, 148, 0.1);
}
.display .expression .inner::-webkit-scrollbar-thumb:hover {
	background-color: rgba(148, 148, 148, 0.25);
}
.display .expression .scroll {
	position: absolute;
	top: 0;

	width: 70px;
	height: 50px;
}
.display .expression .scroll:first-child {
	left: 0;

	background: linear-gradient(to left, transparent 0%, rgb(34, 34, 34) 100%);
}
.display .expression .scroll:last-child {
	right: 0;

	background: linear-gradient(to right, transparent 0%, rgb(34, 34, 34) 100%);
}
.display .expression .scroll img {
	display: block;
	position: absolute;
	top: 10px;

	height: 30px;

	opacity: 0.2;
	
	transition: 0.1s;
}
.display .expression .scroll img:hover {
	opacity: 0.8;
}
.display .expression .scroll img:active {
	opacity: 1;
}
.display .expression .scroll:first-child img {
	left: 15px;

	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.display .expression .scroll:last-child img {
	right: 15px;
}
.display .expression:not(.scrollable) .scroll {
	opacity: 0;
}

/* Number display */
.display .number-input {
	position: relative;

	font-size: 50px;

	width: 600px;
	height: 100px;
	line-height: 100px;

	padding: 0 20px;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	-webkit-overflow-scrolling: touch;
}
.display .number-input .inner {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.display .number-input .inner.scrollable {
	padding: 0 50px;
}
.display .number-input .inner::-webkit-scrollbar {
	height: 6px;
}
.display .number-input .inner:hover::-webkit-scrollbar-thumb {
	background-color: rgba(148, 148, 148, 0.1);
}
.display .number-input .inner::-webkit-scrollbar-thumb:hover {
	background-color: rgba(148, 148, 148, 0.25);
}
.display .number-input .scroll {
	position: absolute;
	top: 0;

	width: 100px;
	height: 100px;
}
.display .number-input .scroll:first-child {
	left: 0;

	background: linear-gradient(to left, transparent 0%, rgb(34, 34, 34) 100%);
}
.display .number-input .scroll:last-child {
	right: 0;

	background: linear-gradient(to right, transparent 0%, rgb(34, 34, 34) 100%);
}
.display .number-input .scroll img {
	display: block;
	position: absolute;
	top: 25px;

	height: 50px;

	opacity: 0.2;
	
	transition: 0.1s;
}
.display .number-input .scroll img:hover {
	opacity: 0.8;
}
.display .number-input .scroll img:active {
	opacity: 1;
}
.display .number-input .scroll:first-child img {
	left: 20px;

	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.display .number-input .scroll:last-child img {
	right: 20px;
}
.display .number-input:not(.scrollable) .scroll {
	opacity: 0;
}

/* Base select button component */
.base-select-button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;

	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	
	width: 100%;
	max-width: 600px;
	height: 38px;
	line-height: 18px;

	padding: 6px 20px;

	color: white;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	transition: 0.1s;
}
.base-select-button .active-marker {
	display: block;
	position: absolute;
	left: 0;

	width: 0px;
	height: 22px;

	transition: 0.1s;
}
.base-select-button.active .active-marker {
	width: 8px;
	height: 22px;

	transition: 0.1s;
}
.base-select-button span {
	display: block;
}
.base-select-button .base {
	width: fit-content;
}
.base-select-button .number {
	font-weight: 400;

	margin-left: 30px;

	color: rgba(255, 255, 255, 0.7);
}

/* Option button */
.option-button {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 20px;

	width: 96px;
	height: 46px;
	line-height: 46px;
	text-align: center;

	margin: 2px;

	border-color: rgba(255, 255, 255, 0.0);;

	color: rgba(255, 255, 255, 0.8);

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	transition: background 0.1s;
}
.option-button:not(.disabled):hover {
	border: 1px solid rgba(255, 255, 255, 0.15);
}
.option-button:not(.disabled):active {
	color: rgba(255, 255, 255);
}
.option-button.half {
	width: 44px;
	height: 44px;
}
.option-spacer {
	width: 100px;
}
.option-double-container {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 20px;

	width: 96px;
	height: 46px;
	line-height: 46px;
	text-align: center;

	margin: 2px;

	border-color: rgba(255, 255, 255, 0.0);

	color: white;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	transition: 0.1s;
}

/* Floating info box */
.info-floating {
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	bottom: 0;

	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	font-size: 12px;

	width: fit-content;
	max-width: 100px;
	height: fit-content;

	padding: 2px;

	border-radius: 5px;

	opacity: 0;

	border: 1px solid rgba(255, 255, 255, 0.15);

	color: white;
	background-color: rgba(26, 26, 26, 0.96);

	transition: 0.3s;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	pointer-events: none;
}

/* Error */
.undef {
	letter-spacing: -0.08em;

	color: rgba(255, 0, 0, 0.9);
}

/* Colours */
.bg-default {
	background-color: rgba(8, 8, 8, 0.6);
}
.bg-default:not(.disabled):hover {
	background-color: rgb(56, 56, 56);
}
.bg-default:not(.disabled):active {
	background-color: rgb(73, 73, 73);
}

.bg-primary {
	background-color: rgba(231, 151, 1, 0.66);
}
.bg-primary:not(.disabled):hover {
	background-color: rgb(235, 154, 5);
	border-color: rgb(255, 199, 96);
}
.bg-primary:not(.disabled):active {
	background-color: rgb(255, 166, 0);
	border-color: rgb(255, 199, 96);
}

.bg-black {
	background-color: rgba(4, 4, 4, 0.85);
}
.bg-black:not(.disabled):hover {
	background-color: rgb(63, 63, 63);
}
.bg-black:not(.disabled):active {
	background-color: rgb(73, 73, 73);
}

.bg-transparent:not(.disabled):hover {
	background-color: rgba(56, 56, 56, 0.5);
}
.bg-transparent:not(.disabled):active {
	background-color: rgba(73, 73, 73, 0.8);
}

.bg-transparent-simple:not(.disabled):hover {
	background-color: rgb(56, 56, 56);
}

.bg-primary-simple {
	background-color: rgb(255, 166, 0);
}